.leaflet-container {
  position: initial;
  width: 100vw;
  height: 100vh;
}

.refresh-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;  
}

.menu-map {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}