.leaflet-container {
  position: initial;
  width: 100vw;
  height: 100vh;
}

.menu-map {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  z-index: 100000;
}

.card-container {
  position: fixed;
  top:30%;
  right:10%;
  width:20%;
  min-width: 200px;
  z-index: 100000;
}